Repository Playfit-app/Playfit, pull requests merged in 2025-02, with the labels that each got.

#40 Gdpr compliance password reset
  backend/playfit/authentification/management/__init__.py
  backend/playfit/authentification/management/commands/__init__.py
  backend/playfit/authentification/management/commands/delete_inactive_users.py
  backend/playfit/authentification/management/commands/manage_user_retention.py
  backend/playfit/authentification/migrations/0008_alter_customuser_height_alter_customuser_username_and_more.py
  backend/playfit/authentification/models.py
  backend/playfit/authentification/serializers.py
  backend/playfit/authentification/templates/authentification/account_recovery.html
  backend/playfit/authentification/templates/authentification/account_recovery_email.html
  backend/playfit/authentification/templates/authentification/reset_password.html
  backend/playfit/authentification/templates/authentification/reset_password_email.html
  backend/playfit/authentification/urls.py
  backend/playfit/authentification/utils.py
  backend/playfit/authentification/views.py
  backend/playfit/playfit/settings.py
  backend/playfit/utilities/encrypted_fields.py
  backend/playfit/utilities/expiring_password_reset_token.py
  backend/requirements.txt
  playfit-mobile/playfit/lib/main.dart
  playfit-mobile/playfit/lib/reset_password_page.dart
Labels: backend

#41 37 gdpr compliance
  backend/playfit/authentification/management/__init__.py
  backend/playfit/authentification/management/commands/__init__.py
  backend/playfit/authentification/management/commands/delete_inactive_users.py
  backend/playfit/authentification/migrations/0002_customuser_registration_method_and_more.py
  backend/playfit/authentification/migrations/0003_alter_customuser_options_and_more.py
  backend/playfit/authentification/migrations/0004_alter_customuser_date_of_birth_and_more.py
  backend/playfit/authentification/migrations/0005_alter_customuser_date_of_birth_and_more.py
  backend/playfit/authentification/migrations/0006_userconsent.py
  backend/playfit/authentification/migrations/0007_customuser_email_hash.py
  backend/playfit/authentification/migrations/0008_alter_customuser_height_alter_customuser_username_and_more.py
  backend/playfit/authentification/models.py
  backend/playfit/authentification/serializers.py
  backend/playfit/authentification/templates/authentification/account_recovery.html
  backend/playfit/authentification/templates/authentification/account_recovery_email.html
  backend/playfit/authentification/templates/authentification/reset_password.html
  backend/playfit/authentification/templates/authentification/reset_password_email.html
  backend/playfit/authentification/tests.py
  backend/playfit/authentification/tests/__init__.py
  backend/playfit/authentification/tests/test_models.py
  backend/playfit/authentification/tests/test_serializers.py
  backend/playfit/authentification/tests/test_urls.py
  backend/playfit/authentification/tests/test_utils.py
  backend/playfit/authentification/tests/test_views.py
  backend/playfit/authentification/urls.py
  backend/playfit/authentification/utils.py
  backend/playfit/authentification/views.py
  backend/playfit/playfit/settings.py
  backend/playfit/utilities/__init__.py
  backend/playfit/utilities/encrypted_fields.py
  backend/playfit/utilities/expiring_password_reset_token.py
  backend/requirements.txt
  playfit-mobile/playfit/lib/auth_service.dart
  playfit-mobile/playfit/lib/authentification/gdpr_consent_form.dart
  playfit-mobile/playfit/lib/authentification/registration_page.dart
  playfit-mobile/playfit/lib/authentification/registration_step2.dart
  playfit-mobile/playfit/lib/components/form/checkbox.dart
  playfit-mobile/playfit/lib/main.dart
  playfit-mobile/playfit/lib/reset_password_page.dart
Labels: backend, mobile

#62 Update gitignore for backend
  playfit-mobile/playfit/.gitignore
Labels: backend

#63 55 hotfix fix gdrp form in branch 4-front
  playfit-mobile/playfit/android/settings.gradle
  playfit-mobile/playfit/assets/images/building.png
  playfit-mobile/playfit/assets/images/characterMap.png
  playfit-mobile/playfit/assets/images/characterMapFlip.png
  playfit-mobile/playfit/assets/images/checkpointNotPass.png
  playfit-mobile/playfit/assets/images/checkpointPass.png
  playfit-mobile/playfit/assets/images/light.png
  playfit-mobile/playfit/assets/images/tree.png
  playfit-mobile/playfit/ios/Runner/Info.plist
  playfit-mobile/playfit/lib/adventure_page.dart
  playfit-mobile/playfit/lib/boutique_page.dart
  playfit-mobile/playfit/lib/camera_page.dart
  playfit-mobile/playfit/lib/components/top_bar.dart
  playfit-mobile/playfit/lib/home_page.dart
  playfit-mobile/playfit/lib/image_converter.dart
  playfit-mobile/playfit/lib/main.dart
  playfit-mobile/playfit/lib/missions_page.dart
  playfit-mobile/playfit/lib/profile_page.dart
  playfit-mobile/playfit/lib/reset_password_page.dart
  playfit-mobile/playfit/lib/workout_analyzer.dart
  playfit-mobile/playfit/pubspec.lock
  playfit-mobile/playfit/pubspec.yaml
Labels: bug, mobile

#65 feat: add/get workout sessions, exercises
  backend/playfit/authentification/serializers.py
  backend/playfit/authentification/tests/test_serializers.py
  backend/playfit/playfit/settings.py
  backend/playfit/playfit/urls.py
  backend/playfit/workout/__init__.py
  backend/playfit/workout/admin.py
  backend/playfit/workout/apps.py
  backend/playfit/workout/migrations/0001_initial.py
  backend/playfit/workout/migrations/__init__.py
  backend/playfit/workout/models.py
  backend/playfit/workout/serializers.py
  backend/playfit/workout/tests/__init__.py
  backend/playfit/workout/tests/test_models.py
  backend/playfit/workout/tests/test_serializers.py
  backend/playfit/workout/tests/test_urls.py
  backend/playfit/workout/tests/test_views.py
  backend/playfit/workout/urls.py
  backend/playfit/workout/views.py
Labels: backend

#67 66 back end friend system
  backend/playfit/authentification/models.py
  backend/playfit/playfit/settings.py
  backend/playfit/social/migrations/0001_initial.py
  backend/playfit/social/models.py
  backend/playfit/social/serializers.py
  backend/playfit/social/tests.py
  backend/playfit/social/tests/__init__.py
  backend/playfit/social/tests/test_models.py
  backend/playfit/social/views.py
Labels: backend
