Repository Playfit-app/Playfit, pull requests merged in 2025-04, with the labels that each got.

#80 46 front end profile page
  playfit-mobile/playfit/lib/components/dotted_line.dart
  playfit-mobile/playfit/lib/components/level_progression_dialog.dart
  playfit-mobile/playfit/lib/components/success.dart
  playfit-mobile/playfit/lib/profile_page.dart
Labels: mobile

#82 48 front end level design 1
  playfit-mobile/playfit/assets/images/eiffel_tower.png
  playfit-mobile/playfit/assets/images/flag.png
  playfit-mobile/playfit/assets/images/hill_path.png
  playfit-mobile/playfit/assets/images/louvre.png
  playfit-mobile/playfit/assets/images/notre_dame.png
  playfit-mobile/playfit/assets/images/obelisk.png
  playfit-mobile/playfit/assets/images/opera.png
  playfit-mobile/playfit/assets/images/pebble_path.jpg
  playfit-mobile/playfit/assets/images/sacre_coeur.png
  playfit-mobile/playfit/assets/images/triumph_arc.png
  playfit-mobile/playfit/lib/components/level_cinematic/character.dart
  playfit-mobile/playfit/lib/components/level_cinematic/decorations.dart
  playfit-mobile/playfit/lib/components/level_cinematic/difficulty.dart
  playfit-mobile/playfit/lib/components/level_cinematic/hill_path_clipper.dart
  playfit-mobile/playfit/lib/components/level_cinematic/landmark.dart
  playfit-mobile/playfit/lib/utils/image.dart
  playfit-mobile/playfit/lib/workout_progression_page.dart
  playfit-mobile/playfit/lib/workout_progression_painter.dart
Labels: mobile

#79 feat: world position of every user, get its position and all followin…
  backend/playfit/authentification/utils.py
  backend/playfit/authentification/views.py
  backend/playfit/social/admin.py
  backend/playfit/social/migrations/0004_continent_country_city_worldposition.py
  backend/playfit/social/models.py
  backend/playfit/social/serializers.py
  backend/playfit/social/tests/test_models.py
  backend/playfit/social/urls.py
  backend/playfit/social/views.py
Labels: backend

#77 71 back end link skin avatar to user
  backend/playfit/playfit/settings.py
  backend/playfit/social/migrations/0002_customizationitem_customization.py
  backend/playfit/social/models.py
  backend/playfit/social/serializers.py
  backend/playfit/social/tests/test_models.py
  backend/playfit/social/tests/test_serializers.py
  backend/playfit/social/tests/test_urls.py
  backend/playfit/social/tests/test_views.py
  backend/playfit/social/urls.py
  backend/playfit/social/utils.py
  backend/playfit/social/views.py
Labels: backend

#91 86 back end front end link front end to back end
  backend/playfit/authentification/models.py
  backend/playfit/authentification/serializers.py
  backend/playfit/authentification/views.py
  backend/playfit/playfit/urls.py
  backend/playfit/social/admin.py
  backend/playfit/social/consumers.py
  backend/playfit/social/migrations/0005_merge_20250409_0618.py
  backend/playfit/social/migrations/0006_basecharacter_customization_base_character.py
  backend/playfit/social/migrations/0007_alter_notification_notification_type.py
  backend/playfit/social/migrations/0008_citydecorationimage.py
  backend/playfit/social/models.py
  backend/playfit/social/serializers.py
  backend/playfit/social/urls.py
  backend/playfit/social/utils.py
  backend/playfit/social/views.py
  backend/playfit/workout/admin.py
  backend/playfit/workout/migrations/0002_rename_date_workoutsession_creation_date_and_more.py
  backend/playfit/workout/migrations/0003_remove_exercise_description_and_more.py
  backend/playfit/workout/migrations/0004_alter_workoutsession_duration.py
  backend/playfit/workout/models.py
  backend/playfit/workout/serializers.py
  backend/playfit/workout/urls.py
  backend/playfit/workout/views.py
  playfit-mobile/playfit/lib/adventure_page.dart
  playfit-mobile/playfit/lib/authentification/registration_page.dart
  playfit-mobile/playfit/lib/authentification/registration_step3.dart
  playfit-mobile/playfit/lib/components/adventure/character.dart
  playfit-mobile/playfit/lib/components/adventure/custom_tab_bar.dart
  playfit-mobile/playfit/lib/components/adventure/roads/city_road.dart
  playfit-mobile/playfit/lib/components/adventure/roads/road.dart
  playfit-mobile/playfit/lib/components/adventure/roads/transition_road.dart
  playfit-mobile/playfit/lib/components/adventure/workout_session_dialog.dart
  playfit-mobile/playfit/lib/providers/notification_provider.dart
  playfit-mobile/playfit/lib/services/auth_service.dart
  playfit-mobile/playfit/lib/services/push_notification_service.dart
  playfit-mobile/playfit/lib/utils/image.dart
  playfit-mobile/playfit/pubspec.yaml
Labels: backend, mobile

#99 92 front end social page
  backend/playfit/authentification/urls.py
  backend/playfit/authentification/views.py
  backend/playfit/social/admin.py
  backend/playfit/social/serializers.py
  backend/playfit/social/urls.py
  backend/playfit/social/views.py
  playfit-mobile/playfit/lib/adventure_page.dart
  playfit-mobile/playfit/lib/components/social/post_card.dart
  playfit-mobile/playfit/lib/components/social/post_detail_page.dart
  playfit-mobile/playfit/lib/components/social/post_feed.dart
  playfit-mobile/playfit/lib/components/social/user_search_bar.dart
  playfit-mobile/playfit/lib/components/top_bar.dart
  playfit-mobile/playfit/lib/home_page.dart
  playfit-mobile/playfit/lib/main.dart
  playfit-mobile/playfit/lib/notification_page.dart
  playfit-mobile/playfit/lib/profile_page.dart
  playfit-mobile/playfit/lib/providers/notification_provider.dart
  playfit-mobile/playfit/lib/services/auth_service.dart
  playfit-mobile/playfit/lib/social_page.dart
  playfit-mobile/playfit/pubspec.lock
  playfit-mobile/playfit/pubspec.yaml
Labels: backend, mobile

#88 52 front end camera page
  playfit-mobile/playfit/ios/Podfile
  playfit-mobile/playfit/ios/Runner.xcodeproj/project.pbxproj
  playfit-mobile/playfit/lib/camera_page.dart
  playfit-mobile/playfit/lib/components/camera/bottom_box_widget.dart
  playfit-mobile/playfit/lib/components/camera/celebration_overlay.dart
  playfit-mobile/playfit/lib/components/camera/left_box_widget.dart
  playfit-mobile/playfit/pubspec.lock
Labels: mobile

#100 Front end
  playfit-mobile/playfit/ios/Podfile
  playfit-mobile/playfit/ios/Runner.xcodeproj/project.pbxproj
  playfit-mobile/playfit/lib/camera_page.dart
  playfit-mobile/playfit/lib/components/camera/bottom_box_widget.dart
  playfit-mobile/playfit/lib/components/camera/celebration_overlay.dart
  playfit-mobile/playfit/lib/components/camera/left_box_widget.dart
  playfit-mobile/playfit/pubspec.lock
Labels: mobile

#104 103 bug documentation broken
  backend/playfit/.gitignore
  backend/playfit/social/views.py
  backend/playfit/workout/serializers.py
  backend/playfit/workout/views.py
Labels: bug, backend

#108 Hotfix: API Documentation
  backend/playfit/workout/views.py
Labels: bug
