Repository Playfit-app/Playfit, pull requests merged in 2025-03, with the labels that each got.

#68 Update iOS build
  playfit-mobile/playfit/ios/Flutter/Debug.xcconfig
  playfit-mobile/playfit/ios/Flutter/Release.xcconfig
  playfit-mobile/playfit/ios/Podfile
  playfit-mobile/playfit/ios/Runner.xcodeproj/project.pbxproj
  playfit-mobile/playfit/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  playfit-mobile/playfit/ios/Runner.xcworkspace/contents.xcworkspacedata
  playfit-mobile/playfit/macos/Flutter/Flutter-Debug.xcconfig
  playfit-mobile/playfit/macos/Flutter/Flutter-Release.xcconfig
  playfit-mobile/playfit/macos/Podfile
  playfit-mobile/playfit/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  playfit-mobile/playfit/macos/Runner/AppDelegate.swift
  playfit-mobile/playfit/pubspec.lock
  playfit-mobile/playfit/pubspec.yaml
Labels: bug, mobile

#72 69 back end social interactions
  backend/.gitignore
  backend/playfit/authentification/models.py
  backend/playfit/playfit/asgi.py
  backend/playfit/playfit/settings.py
  backend/playfit/playfit/urls.py
  backend/playfit/social/consumers.py
  backend/playfit/social/management/__init__.py
  backend/playfit/social/management/commands/__init__.py
  backend/playfit/social/management/commands/delete_old_notifications.py
  backend/playfit/social/middleware.py
  backend/playfit/social/migrations/0002_post_notification_comment_like.py
  backend/playfit/social/migrations/0003_alter_notification_notification_type.py
  backend/playfit/social/models.py
  backend/playfit/social/routing.py
  backend/playfit/social/serializers.py
  backend/playfit/social/urls.py
  backend/playfit/social/views.py
  backend/playfit/utilities/redis.py
  backend/requirements.txt
  playfit-mobile/playfit/.gitignore
  playfit-mobile/playfit/android/app/build.gradle
  playfit-mobile/playfit/android/app/src/main/AndroidManifest.xml
  playfit-mobile/playfit/android/settings.gradle
  playfit-mobile/playfit/firebase.json
  playfit-mobile/playfit/lib/authentification/login_page.dart
  playfit-mobile/playfit/lib/authentification/registration_page.dart
  playfit-mobile/playfit/lib/firebase_options.dart
  playfit-mobile/playfit/lib/home_page.dart
  playfit-mobile/playfit/lib/image_converter.dart
  playfit-mobile/playfit/lib/main.dart
  playfit-mobile/playfit/lib/notification_screen.dart
  playfit-mobile/playfit/lib/providers/notification_provider.dart
  playfit-mobile/playfit/lib/services/auth_service.dart
  playfit-mobile/playfit/lib/services/push_notification_service.dart
  playfit-mobile/playfit/lib/styles/styles.dart
  playfit-mobile/playfit/pubspec.lock
  playfit-mobile/playfit/pubspec.yaml
Labels: backend, mobile

#64 style: login page redisigned based on figma v3 mockup
  playfit-mobile/playfit/assets/images/background_kickoff.png
  playfit-mobile/playfit/assets/images/background_kickoff_old.png
  playfit-mobile/playfit/assets/images/block_window.png
  playfit-mobile/playfit/assets/images/mascot.png
  playfit-mobile/playfit/lib/authentification/login_page.dart
Labels: mobile

#73 46 front end profile page
  playfit-mobile/playfit/assets/images/mountains/everest.png
  playfit-mobile/playfit/assets/images/mountains/kilimanjaro.png
  playfit-mobile/playfit/assets/images/mountains/mont_blanc.png
  playfit-mobile/playfit/lib/components/experience_circle.dart
  playfit-mobile/playfit/lib/components/historic_chart.dart
  playfit-mobile/playfit/lib/components/statistic_bar.dart
  playfit-mobile/playfit/lib/components/success.dart
  playfit-mobile/playfit/lib/home_page.dart
  playfit-mobile/playfit/lib/profile_page.dart
  playfit-mobile/playfit/pubspec.lock
  playfit-mobile/playfit/pubspec.yaml
Labels: mobile

#70 16 home page
  playfit-mobile/playfit/assets/images/building.png
  playfit-mobile/playfit/assets/images/character.png
  playfit-mobile/playfit/assets/images/characterMap.png
  playfit-mobile/playfit/assets/images/character_flip.png
  playfit-mobile/playfit/assets/images/checkpointNotPass.png
  playfit-mobile/playfit/assets/images/checkpointPass.png
  playfit-mobile/playfit/assets/images/comments.png
  playfit-mobile/playfit/assets/images/light.png
  playfit-mobile/playfit/assets/images/paris/apt.png
  playfit-mobile/playfit/assets/images/paris/eiffel_tower.png
  playfit-mobile/playfit/assets/images/paris/pantheon.png
  playfit-mobile/playfit/assets/images/tree.png
  playfit-mobile/playfit/assets/images/two_trees_1.png
  playfit-mobile/playfit/assets/images/two_trees_2.png
  playfit-mobile/playfit/lib/adventure_page.dart
  playfit-mobile/playfit/lib/components/adventure/character.dart
  playfit-mobile/playfit/lib/components/adventure/checkpoint.dart
  playfit-mobile/playfit/lib/components/adventure/custom_tab_bar.dart
  playfit-mobile/playfit/lib/components/adventure/decoration.dart
  playfit-mobile/playfit/lib/components/adventure/roads/city_road.dart
  playfit-mobile/playfit/lib/components/adventure/roads/road.dart
  playfit-mobile/playfit/lib/components/adventure/roads/road_painter.dart
  playfit-mobile/playfit/lib/components/adventure/roads/transition_road.dart
  playfit-mobile/playfit/lib/components/adventure/workout_session_dialog.dart
  playfit-mobile/playfit/lib/components/top_bar.dart
  playfit-mobile/playfit/lib/home_page.dart
  playfit-mobile/playfit/pubspec.lock
  playfit-mobile/playfit/pubspec.yaml
Labels: mobile
